@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/awesome/fontawesome-webfont.eot');
  src: url('../fonts/awesome/fontawesome-webfont.eot') format('embedded-opentype'), url('../fonts/awesome/fontawesome-webfont.woff2') format('woff2'), url('../awesome/fonts/fontawesome-webfont.woff') format('woff'), url('../awesome/fonts/fontawesome-webfont.ttf') format('truetype'), url('../fonts/awesome/fontawesome-webfont.svg') format('svg');
  font-weight: normal;
  font-style: normal
}

@font-face {
  font-family: 'iconvtc';
  src: url('../fonts/iconvtc/vtc.eot');
  src: url('../fonts/iconvtc/vtc.eot') format('embedded-opentype'), url('../fonts/iconvtc/vtc.woff') format('woff'), url('../fonts/iconvtc/vtc.woff') format('woff'), url('../fonts/iconvtc/vtc.ttf') format('truetype'), url('../fonts/iconvtc/vtc.svg') format('svg');
  font-weight: normal;
  font-style: normal
}

@font-face {
  font-family: 'miso';
  src: url('../fonts/miso/miso-webfont.eot');
  src: url('../fonts/miso/miso-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/miso/miso-webfont.woff2') format('woff2'), url('../fonts/miso/miso-webfont.woff') format('woff'), url('../fonts/miso/miso-webfont.ttf') format('truetype'), url('../fonts/miso/miso-webfont.svg#miso') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'misobold';
  src: url('../fonts/miso-bold/miso-bold-webfont.eot');
  src: url('../fonts/miso-bold/miso-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/miso-bold/miso-bold-webfont.woff2') format('woff2'), url('../fonts/miso-bold/miso-bold-webfont.woff') format('woff'), url('../fonts/miso-bold/miso-bold-webfont.ttf') format('truetype'), url('../fonts/miso-bold/miso-bold-webfont.svg#misobold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'handsean';
  src: url('../fonts/handsean/handsean-webfont.eot');
  src: url('../fonts/handsean/handsean-webfont.eot') format('embedded-opentype'), url('../fonts/handsean/handsean-webfont.woff2') format('woff2'), url('../fonts/handsean/handsean-webfont.woff') format('woff'), url('../fonts/handsean/handsean-webfont.ttf') format('truetype'), url('../fonts/handsean/handsean-webfont.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

/****************************************************************************************/

/****************************************************************************************/

/* css sodimac-incial*/

/****************************************************************************************/

/****************************************************************************************/

.breadrumbWrap {
  display: none;
}

#main.newMainSection>.container {
  padding-right: 0px;
  padding-left: 0px;
  overflow: hidden;
}

#main.newMainSection {
  margin: 0!important;
}

#main.newMainSection>.container>.col-md-12 {
  padding: 0!important;
  background: #e4e4e4;
}

.container.breadcrumb.hidden-md.hidden-lg.newMbreadrumb {
  display: none !important;
}

#main.newMainSection>.container {
  width: 100%;
}

.contenido {
  padding-left: 15px;
  background: #e4e4e4;
  padding-right: 15px;
}

@media (min-width: 768px) {
  .contenido {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .contenido {
    width: 970px;
    padding-left: 0;
    padding-right: 0;
  }
}

@media (min-width: 1200px) {
  .contenido {
    width: 1030px;
  }
}

.contenido, .contenedor-carrousel {
  margin-right: auto;
  margin-left: auto;
}

/* fin css sodimac-inicial */

/****************************************************************************************/

/****************************************************************************************/

/* css generales */

/****************************************************************************************/

/****************************************************************************************/

.pad-0 {
  padding: 0;
}

a:hover {
  text-decoration: none;
}

/* fin css generales */

/****************************************************************************************/

/****************************************************************************************/

/****************************************************************************************/

/* css banner */

/****************************************************************************************/

/* #carrusel-banner {
  background: #e4e4e4;
}

.slider-banner {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
}

.banner-1 {
  background-image: url(../img/banner/mobile/banner1-mobile.jpeg);
}

.banner-2 {
  background-image: url(../img/banner/mobile/banner2-mobile.jpeg);
}

.banner-3 {
  background-image: url(../img/banner/mobile/banner3-mobile.jpeg);
}

.prev-banner, .next-banner {
  width: 22px;
  height: 40px;
  margin-top: -20px;
  position: absolute;
  top: 42%;
}

#carrusel-banner .owl-dot span {
  background: #fff;
}

#carrusel-banner .owl-dot.active span {
  background: #0072CE;
}

.prev-banner {
  left: 10px;
}

.next-banner {
  right: 10px;
} */



.slider-header {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-size: auto; */
  height: 300px;
}
.slick-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: -30px;
}

.slick-dots li {
  display: inline-block;
  padding: 5px;
}

.slick-dots li button {
  border: none;
  padding: 8px;
  background: #fff;
  width: 10px;
  height: 10px;
  border-radius: 21px;
}

.slick-dots li button:before {
  content: '';
}

.div-carrousel .slick-dots li button {
  background: #e4e4e4;
}

.slick-dots .slick-active button {
  border: none;
  padding: 8px;
  background: rgb(0, 114, 206);
}

.div-carrousel .slick-dots .slick-active button {
  border: none;
  padding: 4px;
  background: #0072CE;
}

.view-more {
  color: #fff;
  text-decoration: none;
  background: #DD0021;
  display: block;
  font-family: miso;
  padding: 3px;
  font-size: 17px;
  width: 100%;
  top: 105px;
  position: absolute;
}

.text-precio {
  font-family: miso;
  font-weight: bold;
  color: #DD0021;
  font-size: 24px;
  /* margin-top: 22px; */
  text-align: left;
  line-height: 21px;
}
.text-producto, .text-marca {
  font-family: miso;
  color: #333;
  font-size: 15px;
  text-align: left;
  line-height: 14px;
}
.text-marca {
  color: gray;
  font-size: 11px;
  line-height: 20px;
}
.img-combo {
  width: 55px;
}

.detail-producto {
  background: #fff;
  padding: 9px;
  padding-bottom: 2px;
  width: 100%;
  display: block;
}
.contenedor-detail-product {
  width: 114px;
  height: 677px;
  position: absolute;
  /* bottom: 0px; */
  right: 29px;
  top: 43px;
  display: inline-block;
}
.link-banner {
  display: block;
  height: 100%;
  color: #000;
}
.contenedor-logo {
  width: 125px;
  position: relative;
  top: 38px;
  left: 45px;
}

.slider-header-1 {
  background-image: url(../img/banner/mobile/banner1-mobile.jpeg);
}

.slider-header-2 {
  background-image: url(../img/banner/mobile/banner2-mobile.jpeg);
}

.slider-header-3 {
  background-image: url(../img/banner/mobile/banner3-mobile.jpeg);
}

/* fin css banner */

/* *******************************************************  */

/* ***************** media css para categoria ***************  */

/* *******************************************************  */

@keyframes animationArrow {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
  50% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}

@keyframes animationArrow {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
  50% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}


.mueble {
  margin-bottom: 12px;
}

.categoria {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 220px;
  border-bottom: 5px solid #0072CE;
}

.categoria.dormitorio {
  background-image: url(../img/categorias/mobile/dormitorio-mobile.jpeg);
}

.categoria.sala {
  background-image: url(../img/categorias/mobile/sala-mobile.jpeg);
}

.categoria.comedor {
  background-image: url(../img/categorias/mobile/comedor-mobile.jpeg);
}

.categoria.estudio {
  background-image: url(../img/categorias/mobile/estudio-mobile.jpeg);
}

.categoria.deco {
  background-image: url(../img/categorias/mobile/deco-mobile.jpeg);
}

.categoria.infantil {
  background-image: url(../img/categorias/mobile/infantil-mobile.jpeg);
}

.nombre-categoria {
  font-family: 'miso';
  font-size: 1.7em;
  color: #0072CE;
  background: #fff;
  width: 60%;
  margin: 0 auto;
  height: 50px;
  z-index: 21;
  display: flex;
  flex-direction: column;
  line-height: 20px;
  align-items: center;
  position: absolute;
  justify-content: center;
  top: 165px;
  left: 20%;
}

.link-menu {
  color: #fff;
  display: block;
  height: 40px;
}

.link-menu:hover {
  text-decoration: none;
  color: #fff;
}

.menu {
  background: #0072CE;
  color: #fff;
  padding: 15px 25px;
  display: none;
  /* z-index: -1; */
  margin-bottom: 12px;
  /* transition: all 3s; */
}

.pad-toggle {
  padding-bottom: 0;
}

.item-menu {
  display: flex;
  align-items: center;
  font-family: 'miso';
  font-size: 1.7em;
  text-align: left;
  width: 100%;
  float: right;
  height: 56px;
  display: flex;
  justify-content: space-between;
  padding: 12px 10px;
}

.nombre-categoria.active:before {
  content: '';
  position: absolute;
  border-width: 8px;
  transition: all 1s;
  z-index: 20;
  border-color: #fff transparent transparent transparent;
  bottom: -16px;
  border-style: solid;
  right: 0;
  left: 0;
  width: 0;
  height: 0;
  margin: 0 auto;
  /* display: none; */
}

.arrow {
  color: #fff;
  font-size: .7em;
}

.arrow-categoria {
  color: #0072CE;
  /* padding-left: 8px; */
  top: 0px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-animation-name: animationArrow;
  animation-name: animationArrow;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
  -webkit-animation-duration: 1.5s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.bd-bottom {
  border-bottom: 1px solid #fff;
}

.bd-right {
  border-right: 1px solid #fff;
}

/* *******************************************************  */

/* ***************** media css para videos-tip ***************  */

/* *******************************************************  */

.video-tip-1 {
  background-image: url(../img/video-tip/mobile/tip1-mobile.jpeg);
}

.video-tip-3 {
  background-image: url(../img/video-tip/mobile/tip3-mobile.jpeg);
}

.video-tip-2 {
  background-image: url(../img/video-tip/mobile/tip2-mobile.jpeg);
}

.video-tip-4 {
  background-image: url(../img/video-tip/mobile/tip4-mobile.jpeg);
}

.video-tip-5 {
  background-image: url(../img/video-tip/mobile/tip5-mobile.jpeg);
}

.video-tip-6 {
  background-image: url(../img/video-tip/mobile/tip6-mobile.jpeg);
}

.video-tip-7 {
  background-image: url(../img/video-tip/mobile/tip7-mobile.jpeg);
}

.btn-more {
  color: #fff;
  font-family: miso;
  font-size: 1.7em;
  background: #0072CE;
  border: none;
  display: inline-block;
  width: 100%;
  margin: 0 auto;
  margin: 20px 0;
  height: 50px;
  line-height: 50px;
}

a.link-video-tip {
  transition: -webkit-transform .3s ease-in-out;
  transition: border-top .3s ease-in-out;
  transition: border-top .3s ease-in-out, -webkit-transform .3s ease-in-out;
  height: 100%;
  display: block;
  background-color: rgba(0, 0, 0, .4);
  border-top: 3px transparent solid;
}

.img-video-tip {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 210px;
  margin-bottom: 3px;
  position: relative;
}
.slick-dotted.slick-slider {
    margin-bottom: 46px;
}
.title-video-tip {
  color: #fff;
  font-family: 'miso';
  font-size: 20.5px;
  width: 35%;
  top: 6%;
  left: 5%;
  line-height: 20px;
  position: absolute;
  font-weight: 500;
}

.title-video-tip p {
  font-weight: 600;
}

.div-play {
  background: #fff;
  border-radius: 80px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 70%;
  left: 80%;
}
.arrow-video{
  color: #fff!important;
      position: relative;
      padding-left: 20px;
      top: -5px;
}

.hidden-video {
  display: none;
}

/* fin media css para desktop */

/* ******************************************************  */

/* *******************************************************  */

/* ***************** media css para desktop ***************  */

/* *******************************************************  */

/* *******************************************************  */

@media (min-width: 992px) {
  .slick-dotted.slick-slider {
      margin-bottom: 46px;
  }
  .hidden-lg , .hidden-md {
    display: none;
  }

  .slider-header {
    height: 445px;

  }

  .slider-drag1 ul.slick-dots {
    display: inline-block!important;
    width: 1030px;
    position: relative;
    bottom: 12px;
  }
  .slider-drag1 .slick-dots li {
    display: inline-block;
    padding: 0;
    margin: 0;
    height: 6px;
    width: 33.3%;
    padding: 1px;
  }
  .slider-drag1 .slick-dots li button {
    /* display: inline-block; */
    padding: 0;
    margin: 0;
    height: 11px;
    background: #000;
    width: 100%;
    opacity: 0.3;
    border-radius: 0;
  }
  .slick-dots li button:before {
    content: "";
  }
  .slider-drag1 ul.slick-dots {
    height: 6px;
    margin: 0;
    padding: 0;
  }
  .slick-dotted.slick-slider {
    margin-bottom: 0px;
  }
  .banner-home .slick-dots .slick-active button {
    opacity: 1;
    background: #0072CE;
  }
  .view-more {
    top: 102.5%;
    padding: 10px;
    font-size: 27px;
    text-align: center;
  }
  .contenedor-logo {
    width: 228px;
    position: relative;
    top: 58px;
    left: 176px;
  }

  img.mini-img {
    width: 40px;
    height: 73px;
    display: inline;
    position: relative;
    bottom: 20px;
    left: 10px;
  }
  .text-precio {
    font-size: 39px;
    line-height: 36px;
    display: inline-block;
    text-align: left;
  }
  .text-producto {
    font-family: arial;
    /* font-family: helvetica; */
    color: #333;
    font-size: 16px;
    text-align: left;
    /* padding-left: 8px; */
    font-weight: 600;
    line-height: 20px;
  }
  .text-marca {
    color: gray;
    font-size: 19px;
    line-height: 27px;
  }
  .contenedor-detail-product {
    height: auto;
    top: 59px;
    right: 177px;
    width: 222px;
  }
  .img-combo {
    width: auto;
  }
  .detail-producto {
    padding-bottom: 0;
    padding-left: 15px;
  }
  .slider-header-1 {
    background-image: url(../img/banner/desktop/banner1.jpeg);
  }
  .slider-header-2 {
    background-image: url(../img/banner/desktop/banner2.jpeg);
  }
  .slider-header-3 {
    background-image: url(../img/banner/desktop/banner3.jpeg);
  }
  /* ****************************************** */
  /* css categoria */
  /* ******************************************* */
  .mueble {
    margin-bottom: 20px;
    position: relative;
  }
  .bd-bottom {
      border: none;
  }
  .item-menu{
    border-bottom: 1px solid #fff;
  }
  .menu{
    bottom: -12px;
    position: absolute;
    height: 387px;
    opacity: 1;
    /* -webkit-transition: width 10s; /* For Safari 3.1 to 6.0 */
    /*transition: width 10s; */
    width: 0px;
    display: flex;
    padding: 0;
    display: flex;
    align-items: center;
    overflow: hidden;
    background: #0072CE;
  }
  .container-menu{
    opacity: 0;
    -webkit-transition: opacity 2.5s; /* For Safari 3.1 to 6.0 */
    transition: opacity 2.5s;
  }
  .mueble:hover .menu{
      width: 272px;
  
  }
  .mueble:hover .container-menu{
  opacity: 1;
  }
  .pad-0 {
      padding: 0 35px;
  }
  .categoria {
    height: 387px;
    position: relative;
    border: none;
    border-left: 5px solid #0072CE;
  }
  .categoria.dormitorio {
    background-image: url(../img/categorias/desktop/dormitorio.jpeg);
  }
  .categoria.sala {
    background-image: url(../img/categorias/desktop/sala.jpeg);
  }
  .categoria.comedor {
    background-image: url(../img/categorias/desktop/comedor.jpeg);
  }
  .categoria.estudio {
    background-image: url(../img/categorias/desktop/estudio.jpeg);
  }
  .categoria.deco {
    background-image: url(../img/categorias/desktop/deco.jpeg);
  }
  .categoria.infantil {
    background-image: url(../img/categorias/desktop/infantil.jpeg);
  }
  /* ****************************************** */
  /* css videos */
  /* ******************************************* */
  .slider-nav .slick-list.draggable {
    padding: 0px 7px !important;
  }
  /* a.link-video-tip[data-video="0"] {
    border-top: 3px #0072CE solid;
    background-color: rgba(0, 0, 0, 0.1);
  } */
  .link-video {
    height: 362px;
    display: block;
  }
  .link-video-tip:hover {
    background-color: rgba(0, 0, 0, 0.1)!important;
    transition: background-color 1s;
  }
  .video-tip-1 {
    background-image: url(../img/video-tip/desktop/tip1.jpeg);
  }
  .video-tip-3 {
    background-image: url(../img/video-tip/desktop/tip3.jpeg);
  }
  .video-tip-2 {
    background-image: url(../img/video-tip/desktop/tip2.jpeg);
  }
  .video-tip-4 {
    background-image: url(../img/video-tip/desktop/tip4.jpeg);
  }
  .video-tip-5 {
    background-image: url(../img/video-tip/desktop/tip5.jpeg);
  }
  .video-tip-6 {
    background-image: url(../img/video-tip/desktop/tip6.jpeg);
  }
  .video-tip-7 {
    background-image: url(../img/video-tip/desktop/tip7.jpeg);
  }
  .img-video-tip {
    height: 155px;
  }
  .img-video-tip.video-tip-current {
    height: 350px;
  }
  .space-left {
    width: 50%;
    height: 100%;
    padding: 5% 0;
    background-color: rgba(0, 0, 0, .6);
  }
  .space-left p {
    width: 90%;
    padding: 3% 12%;
    text-align: left;
    color: #fff;
    font-size: 1.1em;
    line-height: 18px;
  }
  .contenedor-img-current {
    width: 50%;
    height: 65%;
    margin-left: 10%;
  }
  .img-current {
    transition: all .3s;
  }
  .div-play-current {
    position: absolute;
    width: 6.5%;
    height: 19%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    border-radius: 50%;
    left: 46.5%;
    top: 40.5%;
  }
  .div-play-current span {
    color: #0072CE;
  }
  .contenedor-item-tip {
    padding: 10px 0;
    background: #fff;
    margin-bottom: 20px;
  }
  .pad-video-tip {
    padding: 0px 8px;
    outline: 0px;
  }
  .contenedor-video-tip {
    position: relative;
    height: 20%;
    width: 65%;
    left: 17.5%;
    font-weight: bold;
    top: 80%;
    background: #fff;
  }
  .title-video-tip {
    color: #333;
    background: #fff;
    width: 100%;
    height: 95%;
    /* font-weight: bold; */
    left: 0;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .div-play {
    width: 13%;
    height: 28%;
    top: 11.5%;
    left: 40%;
    background: transparent;
  }
}

/* fin media css para desktop */

/* *******************************************************  */

/* ***************** media css para categoria ***************  */

/* *******************************************************  */

/* fin media css para desktop */
